<!-- Plantilla para listar los posts del blog -->
{% extends 'blog/base.html' %}

{% block content %} <!-- Define el bloque de contenido que se insertará en base.html -->
    {% for post in posts %} <!-- Itera sobre la lista de posts proporcionada por la vista -->
        <div class="post"> <!-- Contenedor para cada post individual -->
            <div class="date"> <!-- Contenedor para la fecha de publicación -->
                {{ post.published_date }} <!-- Muestra la fecha de publicación del post -->
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2> <!-- Muestra el título del post como un enlace a la vista de detalle del post -->
            <p>{{ post.text|linebreaksbr }}</p> <!-- Muestra el texto del post, convirtiendo saltos de línea en etiquetas <br> -->
        </div>
    {% endfor %} <!-- Fin del bucle for -->
{% endblock %} <!-- Fin del bloque de contenido -->